<!DOCTYPE html>
<html>
<head>
  <title>TheFishery</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

          <%= render 'layouts/navigation' %>
          <%= render 'layouts/header' %>
  
   
      <div class="container-fluid">
        
           <div class="row-fluid">

           <div class="span2"> 
              <%= render 'layouts/sidebar' %>
            </div> 
       


            <div class="span7">
              <%= render 'layouts/messages' %>
              <div class="hero-unit">
              <%= yield %>
              </div>
            </div>

            <div class="span3">
              <div class="rbar">
              <h1> heading </h1>
              </div>
            </div>

         
         </div>
     </div> 
  
          <%= render 'layouts/footer' %>
  </body>
</html>

